/Ejercicio1_Array/nbproject/private/
/Ejercico3_Descuento/nbproject/private/
/Ejercico3_Descuento/build/
/Ejercicio4_PedirNumeros/nbproject/private/
/Ejercicios Java Diego/Pedir_Numero/nbproject/private/
/Ejercicios Java Diego/Ejercicio4_PedirNumero/nbproject/private/
/Practica07/target/
/Ejercicios Java Diego/Ejercicio1_VentaArray/target/
/Ejercicios Java Diego/Ejercicio2/target/
/Ejercicios Java Diego/Ejercicio3/target/
